.magistrate-021{
    left: 477px;
    top: 138px;
}

.tv-monitor-041{
    right: 437.212px;
    top: 254px;
}

.video-043{
    right: 464.431px;   
    top: 135px;
}

.write-017{
    left: 444.391px;
    top: 251.732px;
}