.digital-container img {
  width: 466px;
  height: 270px;
}

.zoom-bg {
  background: #4087fc;
}

.vidio-content {
  width: 661px;
}

@media (max-width: 639px) {
  .digital-container img {
    width: 100%;
    height: 198.154px;
  }

  .vidio-content {
    width: 100%;
  }
}
