.map-container {
  border-radius: 32px;
}

.content {
  border-radius: 0 0 24px 24px;
  right: 0px;
  top: -97px;
}

@media (max-width: 639px) {
  .map-container {
    border-radius: 0px;
  }
  .content {
    border-radius: 0 0 0.7rem 0.7rem;
    left: 14.1rem;
    top: -64px;
  }
}