.teacher-container {
  gap: 34px;
  overflow-x: hidden;
}

.teacher-card {
  height: 490px;
  width: 270px;
  padding-top: 53px;
}

.teacher-card img {
  top: -50px;
}

.swiper {
  overflow: visible !important;
}
